

<div id="__w2_YpXS4eF_expanded" class="ExpandedAnswerInFeed ExpandedQText ExpandedAnswer">

<span class="matched_term">Rails
</span> is written in Ruby, which is a language explicitly designed with the goal of increasing programmer happiness.
<br>
<br>Many developers working with

<span class="matched_term">Rails
</span> today feel as though they "escaped" from development on platforms such as .NET and Java, which aren't as well suited to rapid web development as

<span class="matched_term">Rails
</span>. Also, .NET and Java tend to be popular in larger organizations that often utilize much more conservative software practices than in some of the dynamic open source languages like Python and Ruby. Paul Graham wrote an essay in 2004 entitled "The Python Paradox" which is more eloquent than I am on the subject:
<br>
<br>

<span class="qlink_container"><a target="_blank" class="external_link" rel="noreferrer" href="http://www.paulgraham.com/pypar.html">http://www.paulgraham.com<wbr></wbr>/pypar....</a>
</span>
<br>
<br>A lot of other

<span class="matched_term">Rails
</span> developers used to use PHP, and were attracted to the Ruby world for technical reasons. Ruby developers are particularly eager to continuously evolve their tools.

<span class="matched_term">Rails
</span> was an early adopter of

<span class="qlink_container"><a href="/Git-revision-control">Git (revision control)</a>
</span> and

<span class="qlink_container"><a href="/GitHub">GitHub</a>
</span>, and there's a strong focus on testing frameworks that is less common in PHP.
<br>
<br>A large number of developers and designers prefer to use the Haml template language and Sass CSS preprocessor, which are both native to

<span class="matched_term">Rails
</span>.
<br>
<br>From a hiring perspective, a startup can assume that if a developer is using

<span class="matched_term">Rails
</span> (or another modern web framework) that they are keeners who are interested in skills development and are likely involved in contributing to open source projects. This usually indicates a personality type that is a good cultural fit for many small development teams.
<br>
<br>


<span class="matched_term">Rails
</span> developers are often keenly aware of full-stack web development practices to build highly scalable web sites. Caching, worker queues, thread and process management, non-relational data storage, filesystem and kernel optimization, proxy configuration, redundancy and monitoring are all discussed in the same breath as

<span class="matched_term">Rails
</span> development on a regular basis.
<br>
<br>There are some really excellent commercial infrastructures available for staging and deployment.

<span class="qlink_container"><a href="/Heroku">Heroku</a>
</span> deserves special mention for being particularly easy to get started with.
<br>
<br>In conclusion, the excitement around

<span class="matched_term">Rails
</span> is justified. A small team can get a minimum viable product into beta very quickly using tools that are fun to work with. Embracing constraints and the conventions (naming, pluralization, project structure) really do enable new talent to join a project and get up to speed quickly.
<br>
<br>To be clear, none of these reasons detract in any way from reasons someone might enjoy using other excellent tools such as Python (Django) or JavaScript (Node.js). In fact, many

<span class="matched_term">Rails
</span> developers pride themselves on knowing several languages and frameworks for fun and personal development.
<br>
<br>Foy Savas gave a great talk about this subject at FutureRuby:
<br>
<br>

<span class="qlink_container"><a target="_blank" class="external_link" rel="noreferrer" href="http://www.infoq.com/presentations/savas-polyglots">http://www.infoq.com/pres<wbr></wbr>entatio...</a>
</span>
<br/>
<br/>
<div id="ld_jlelri_15">
Good read (Source : Quora)
</div>
</div>
