<% provide :title, "Poorly written codes by Rajeev" %>
<div id="masthead">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h2 title="Inspired from well-known webcomic Poorly drawn lines">Poorly written codes
          <p class="lead">by Rajeev</p>
        </h2>
      </div>
      <div class="col-md-5">
       <h3 class="findme">Find Me</h3>
       <div class="btn-group">
        <a class="btn btn-twitter " target="_blank" href="https://twitter.com/RAJEEVRAMAKRIS2"><i class="fa fa-twitter fa-large"></i> Twitter</a>
        <a class="btn btn-facebook " target="_blank" href="https://www.facebook.com/rajeevriitm"><i class="fa fa-facebook fa-large"></i> Facebook</a>
        <a class="btn btn-google-plus " target="_blank" href="https://plus.google.com/116950613335828027734/"><i class="fa fa-google-plus fa-large"></i> Google+</a>
      </div>
    </div>
  </div>
</div><!-- /cont -->
</div>

<div class="row">
  <div class="col-md-9 col-md-push-1">
    <%= render @blogs %>
  </div>
</div>
