      <div class="col-md-6" onload="init_map1()">
        <div>
          <div class="panel panel-default">
            <div class="text-center contact_header">Location</div>
            <div class="panel-body text-center">
              <h4>Address</h4>
              <span>
                Quilon<br />
                Kerala<br />
                +91-9895922310<br />
                rajeevriitm@gmail.com<br />
              </span>
              <span>
              Tamiraparani Hostel </br>
                IIT Madras<br />
                chennai<br />
                +91-9791132310<br />
              </span>
              <hr />
              <div id="map1" class="map">
              </div>
            </div>
          </div>
        </div>
      </div>


<script src="http://maps.google.com/maps/api/js?sensor=false&callback=init_map1">
</script>
<script >


    function init_map1() {
        var myLocation = new google.maps.LatLng(12.988383, 80.238278);
        var mapOptions = {
            center: myLocation,
            zoom: 16
        };
        var marker = new google.maps.Marker({
            position: myLocation,
            title: "Property Location"
        });
        var map = new google.maps.Map(document.getElementById("map1"),
            mapOptions);
        marker.setMap(map);
    }
</script>
