      <div class="col-md-6">
        <div>
          <div class="panel panel-default">
            <div class="text-center contact_header">Location</div>
            <div class="panel-body text-center">
              <h4>Address</h4>
              <div>
                Quilon<br />
                Kerala<br />
                +91-9895922310<br />
                rajeevriitm@gmail.com<br />
              </div>
              <hr />
              <div id="map1" class="map">
              </div>
            </div>
          </div>
        </div>
      </div>
