<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body well">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <%= render 'email_form2' %>
      </div>
    </div>

  </div>
</div>
