<table class="skills">
<tr><td>Web Application framework</td><td> :</td><td> Ruby on Rails, Node.js</td></tr>
<tr><td>Front end tools</td><td> :</td><td>    Angular JS , Bootstrap, JQuery , HTML , CSS  </td></tr>
<tr><td>DBMS</td><td> :</td><td> PostgreSQL, MongoDB , MySQL</td></tr>
<tr><td>Programming Skills</td><td> :</td><td> Ruby , Javascript, Python , Haskell, C++</td></tr>
<tr><td>Cloud computing platform</td><td> :</td><td> Amazon Web Services, Heroku, Amazon S3</td></tr>
<tr><td>Server </td><td> :</td><td> Nginx, Puma, Passernger,Thin</td></tr>
<tr><td>APIs</td><td> :</td><td> Stripe, Trello, Google Maps, Amazon Product Advertising </td></tr>
<tr><td>Version control</td><td> :</td><td> Git</td></tr>
<tr><td>Operating System</td><td> :</td><td> Linux, Microsoft Windows</td></tr>
</table>
