<span>
<%= link_to "Resume", "https://drive.google.com/file/d/0By7OpQ3kFDZOU09OclFmN21xbjg/view?usp=sharing", target: "_blank",class: "btn btn-danger resume_button"  %>
</span>
<span>
<%= link_to "Top", "#top" ,class: "btn btn-primary top_button "  %>
</span>
