<div id="projects"> Projects </div>

<div class="project_list">
<ul class="recode">
<%= image_tag asset_path('lafamos.png'),width: "30%",height: "30%" %>
<div class="pro_det">
<li>
Full stack developer for a U.S. based startup - Recode360 .
</li>
</div>
</ul>
</div>


<div class="project_list">
<ul class="recode">
warpello
<div class="pro_det">
<li>
Full stack developer for a U.S. based startup - Recode360 .
</li>
</div>
</ul>
</div>

<div class="project_list">
<ul class="recode">
portfolio
<div class="pro_det">
<li>
Full stack developer for a U.S. based startup - Recode360 .
</li>
</div>
</ul>
</div>

<div class="project_list">
<ul class="recode">
<%= image_tag asset_path('logo.png'),width: "20%",height: "20%" %>
<div class="pro_det">
<li>
Full stack developer for a U.S. based startup - Recode360 .
</li>
<li>
Worked on developing an E-commerce marketplace for vendors to sell variety of products.
</li>
<li>
E-commerce platform was created as a rails engine which can be integrated to any rails project.
</li>
<li>
A recipe publishing platform is developed (foodsy) through which both recipes and ingredients
can be sold with a single click.
</li>
<li>
Stripe connect is used for setting up the marketplace payment gateway and Stripe relay is used
for providing more platforms like twitter,pinterest to sell products.
</li>
</div>
</ul>
</div>

<div class="project_list">
<ul class="recode">
Backend developer for a banglore based educational startup, masterjis.com
<div class="pro_det">
<li>
Masterjis provides a platform for students and educational institutes to connect and share
information about different courses and its opportunities.
</li>
<li>
Developed the back-end architecture for the website.Institutes can provide all the information
about courses and tests. Students can pay for a course through online and take tests through
the site.
</li>
<li>
Website provides a scorecard for students based on the courses and tests they have taken and
gives suggestions about the opportunities they have based on their skills.
</li>
</div>
</ul>
</div>


<div class="project_list">
<%= link_to "QuickThoughts", "http://quickthoughts.herokuapp.com/",class: "quickthoughts",target: "_blank" %>
<div class="pro_det">
QuickThoughts provides a secure platform to keep all your  thoughts on-line. There are four repositories for your thoughts;
Home, Personal,Diary, Notes. QuickThoughts provides a simple but efficient User-Interface for adding and viewing thoughts.
</div>
</div>
<div class="project_list">
<%= link_to "SettleItNow", "http://settleitnow.herokuapp.com/",class: "settleitnow",target: "_blank" %>
<div class="pro_det">
SettleItNow is aimed at creating a social networking website to ask questions and post answers. All the basic functions of a
social networking sites have been included in the website with all the essential security features.
</div>
</div>
