<p>
As a graduate in Physics with interests in coding, my pastime included learning about web-development. With time, I noticed that
working for my websites was something that I enjoyed and passionately worked as never before. The moment I realized that this is
where I belong, I quit my research ambitions and concentrated on understanding the fundamentals of web-development. My passion
and constant obsession to learn more, has taken me here. And now, its miles ahead to go..
</p>
<p>
It has been an year now since I started Rails. And the best decision ever...!!!!
</p>
