<table class="skills">
<tr><td>Web Application framework:</td><td> Ruby on Rails</td></tr>
<tr><td>Front end tools:</td><td> JavaScript , JQuery , HTML , CSS , Bootstrap</td></tr>
<tr><td>DBMS:</td><td> PostgreSQL</td></tr>
<tr><td>Version control:</td><td> Git</td></tr>
<tr><td>Programming Skills:</td><td> Ruby , Python , C++</td></tr>
<tr><td>Cloud computing platform:</td><td> Amazon Web Services</td></tr>
<tr><td>Operating System:</td><td> Linux, Microsoft Windows</td></tr>
<tr><td>Other interests:</td><td> Algorithms , Competitive programming</td></tr>
</table>
