<% provide :title, "Contact Rajeev" %>
<div class="contact-det">
  <%= render 'maps'  %>
  <div class="col-md-6">
    <div class="well well-sm">
      <%= render 'email_form2'  %>
    </div>
    <div>
      <a href="https://twitter.com/RAJEEVRAMAKRIS2" target="_blank" class="btn btn-lg btn-info btn-social-icon btn-twitter">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="https://www.facebook.com/rajeevriitm" target="_blank" class="btn btn-lg btn-primary btn-social-icon btn-facebook">
        <i class="fa fa-facebook"></i>
      </a>
      <a href="https://github.com/rajeevriitm"  target="_blank" class="btn btn-lg btn-warning btn-social-icon btn-github">
        <i class="fa fa-github"></i>
      </a>
    </div>
  </div>
</div>

<script src="http://maps.google.com/maps/api/js?sensor=false"></script>

