<% provide :title, "Rajeev Ramakrishnan | Web Developer" %>
<div class="row">

  <div class="col-md-3 ">
    <figure class="com">
      <%= link_to(image_tag("com5.png", :alt => "web development"),web_path) %>
      <figcaption>Web Development</figcaption>
    </figure>
  </div>

  <div class="col-md-6 descriprion">
    <h3>Hi, I'm </h3>
    <div class="name">
      Rajeev
    </div>
    <div class="abilities">

      <div class="web-developer">
        Passionate Web-Developer
      </div>
      <div class="reader">
        Avid Reader
      </div>
      <div class="physics">
        Occasional Physicist
      </div>
    </div>
    <br/>
    <div class="quote" title="Into the Wild (Book by Jon Krakauer)">
      &ldquo; According to moral absolutism, a challenge in which a successful outcome is
      assured isn't a challenge at all. &rdquo;</div>
    </div>


    <div class="col-md-2 ">
     <figure class="contact">
      <%= link_to(image_tag("email.png", :alt => "Web-development"),"mailto: rajeevriitm@gmail.com") %>
      <figcaption> Contact </figcaption>
    </figure>

  </div>
</div>

