<div id="physics">
<%= link_to(image_tag("physics.png", :alt => "physics",
   :width => 155, :height => 155),"#") %>
</div>

<div id="past">
<%= image_tag("blue-final.png", :alt => "physics",
 :width => 155, :height => 155, class: "moving_img") %>
</div>

