body {margin-top: 0px;margin-left: 0px;}

.physics_cv{
  margin: 0 100px ;
  text-align: center;
}

#page_1 {position:relative; overflow: hidden;margin: 50px 0px 93px 58px;padding: 0px;border: none;width: 736px; left: 50px;}
#page_1 #id_1 {border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 736px;overflow: hidden;}
#page_1 #id_2 {border:none;margin: 23px 0px 0px 0px;padding: 0px;border:none;width: 620px;overflow: hidden;}
#page_1 #id_2 #id_2_1 {float:left;border:none;margin: 2px 0px 0px 0px;padding: 0px;border:none;width: 124px;overflow: hidden;}
#page_1 #id_2 #id_2_2 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 496px;overflow: hidden;}
#page_1 #id_3 {border:none;margin: 17px 0px 0px 0px;padding: 0px;border:none;width: 736px;overflow: hidden;}

#page_1 #dimg1 {position:absolute;top:43px;left:0px;z-index:-1;width:681px;height:1px;font-size: 1px;line-height:nHeight;}
#page_1 #dimg1 #img1 {width:681px;height:1px;}




#page_2 {position:relative; overflow: hidden;margin: 71px 0px 56px 58px;padding: 0px;border: none;width: 736px;}
#page_2 #id_1 {border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 736px;overflow: hidden;}
#page_2 #id_1 #id_1_1 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 124px;overflow: hidden;}
#page_2 #id_1 #id_1_2 {float:left;border:none;margin: 1px 0px 0px 0px;padding: 0px;border:none;width: 612px;overflow: hidden;}
#page_2 #id_2 {border:none;margin: 6px 0px 0px 0px;padding: 0px;border:none;width: 736px;overflow: hidden;}





.ft0{font: 33px 'Arial';line-height: 38px;}
.ft1{font: 13px 'Arial';line-height: 16px;}
.ft2{font: 13px 'Arial';line-height: 15px;}
.ft3{font: 1px 'Arial';line-height: 15px;}
.ft4{font: 1px 'Arial';line-height: 1px;}
.ft5{font: 12px 'Arial';line-height: 15px;}
.ft6{font: 9px 'Arial';line-height: 12px;position: relative; bottom: 3px;}
.ft7{font: 13px 'Arial';line-height: 16px;position: relative; bottom: -2px;}
.ft8{font: 9px 'Arial';line-height: 12px;position: relative; bottom: 5px;}
.ft9{font: 13px 'Arial';line-height: 11px;}
.ft10{font: 1px 'Arial';line-height: 11px;}
.ft11{font: 1px 'Arial';line-height: 12px;}

.p0{text-align: left;margin-top: 0px;margin-bottom: 0px;}
.p1{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p2{text-align: right;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p3{text-align: right;padding-right: 4px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p4{text-align: left;padding-left: 20px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p5{text-align: justify;padding-left: 144px;padding-right: 55px;margin-top: 0px;margin-bottom: 0px;}
.p6{text-align: justify;padding-left: 144px;margin-top: 0px;margin-bottom: 0px;}
.p7{text-align: justify;padding-left: 144px;padding-right: 50px;margin-top: 0px;margin-bottom: 0px;}
.p8{text-align: left;padding-left: 124px;margin-top: 18px;margin-bottom: 0px;}
.p9{text-align: left;padding-left: 124px;margin-top: 0px;margin-bottom: 0px;}
.p10{text-align: left;margin-top: 116px;margin-bottom: 0px;}
.p11{text-align: left;margin-top: 68px;margin-bottom: 0px;}
.p12{text-align: left;margin-top: 176px;margin-bottom: 0px;}
.p13{text-align: left;padding-left: 10px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p14{text-align: left;padding-left: 11px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p15{text-align: left;padding-right: 57px;margin-top: 9px;margin-bottom: 0px;}
.p16{text-align: left;padding-left: 20px;padding-right: 55px;margin-top: 20px;margin-bottom: 0px;}
.p17{text-align: justify;padding-left: 20px;padding-right: 55px;margin-top: 6px;margin-bottom: 0px;}
.p18{text-align: justify;padding-left: 20px;padding-right: 55px;margin-top: 5px;margin-bottom: 0px;}
.p19{text-align: justify;padding-left: 20px;padding-right: 55px;margin-top: 0px;margin-bottom: 0px;}
.p20{text-align: justify;padding-left: 20px;margin-top: 5px;margin-bottom: 0px;}
.p21{text-align: justify;padding-left: 20px;padding-right: 55px;margin-top: 2px;margin-bottom: 0px;}
.p22{text-align: justify;padding-left: 20px;padding-right: 50px;margin-top: 7px;margin-bottom: 0px;}
.p23{text-align: justify;padding-left: 20px;margin-top: 0px;margin-bottom: 0px;}
.p24{text-align: left;margin-top: 7px;margin-bottom: 0px;}
.p25{text-align: left;padding-left: 8px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}

.td0{padding: 0px;margin: 0px;width: 304px;vertical-align: bottom;}
.td1{padding: 0px;margin: 0px;width: 192px;vertical-align: bottom;}
.td2{padding: 0px;margin: 0px;width: 124px;vertical-align: bottom;}
.td3{padding: 0px;margin: 0px;width: 419px;vertical-align: bottom;}
.td4{padding: 0px;margin: 0px;width: 138px;vertical-align: bottom;}
.td5{padding: 0px;margin: 0px;width: 520px;vertical-align: bottom;}
.td6{padding: 0px;margin: 0px;width: 37px;vertical-align: bottom;}
.td7{padding: 0px;margin: 0px;width: 557px;vertical-align: bottom;}
.td8{padding: 0px;margin: 0px;width: 101px;vertical-align: bottom;}
.td9{padding: 0px;margin: 0px;width: 441px;vertical-align: bottom;}
.td10{padding: 0px;margin: 0px;width: 116px;vertical-align: bottom;}
.td11{padding: 0px;margin: 0px;width: 591px;vertical-align: bottom;}
.td12{padding: 0px;margin: 0px;width: 228px;vertical-align: bottom;}
.td13{padding: 0px;margin: 0px;width: 439px;vertical-align: bottom;}
.td14{padding: 0px;margin: 0px;width: 118px;vertical-align: bottom;}
.td15{padding: 0px;margin: 0px;width: 0px;vertical-align: bottom;}
.td16{padding: 0px;margin: 0px;width: 569px;vertical-align: bottom;}
.td17{padding: 0px;margin: 0px;width: 417px;vertical-align: bottom;}
.td18{padding: 0px;margin: 0px;width: 152px;vertical-align: bottom;}
.td19{padding: 0px;margin: 0px;width: 217px;vertical-align: bottom;}
.td20{padding: 0px;margin: 0px;width: 200px;vertical-align: bottom;}

.tr0{height: 17px;}
.tr1{height: 15px;}
.tr2{height: 16px;}
.tr3{height: 34px;}
.tr4{height: 24px;}
.tr5{height: 32px;}
.tr6{height: 35px;}
.tr7{height: 36px;}
.tr8{height: 19px;}
.tr9{height: 23px;}
.tr10{height: 42px;}
.tr11{height: 11px;}
.tr12{height: 21px;}
.tr13{height: 29px;}
.tr14{height: 4px;}
.tr15{height: 12px;}
.tr16{height: 18px;}

.t0{width: 496px;font: 13px 'Arial';}
.t1{width: 681px;font: 13px 'Arial';}
.t2{width: 557px;margin-left: 124px;margin-top: 15px;font: 13px 'Arial';}
.t3{width: 715px;margin-top: 16px;font: 13px 'Arial';}
.t4{width: 532px;font: 13px 'Arial';}
.t5{width: 557px;margin-top: 26px;font: 13px 'Arial';}
.t6{width: 557px;margin-top: 7px;font: 13px 'Arial';}
.t7{width: 693px;margin-top: 17px;font: 13px 'Arial';}
