// Place all the styles related to the Portfolios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
html,
body.real {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', sans-serif;
  background-image: url(asset-path("background.jpg"));
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
body.preload{
  background: white;
  height: 100%;
}
.row {
  margin-left:0px;
  margin-right:0px;
}
#nav {
  width: 100%;
  position:static;
  top:-32px;
}

#nav.affix {
 position: fixed;
 top: 0;
 z-index:10;
 -webkit-transition: all .6s ease-in-out;
}

#footer > .container {

}

@media (min-width: 767px) {
  .navbar-nav.nav-justified > li{
    float:none;
  }
}

.navbar-nav {
  margin: 1px 1px;
}

/* customize nav style */
.navbar-custom {
  background-color: #2e2e2e;
  font-weight:700;
  text-transform:uppercase;
  border-width:0;
}
.navbar-custom  .navbar-nav>li>a {
  color: #ddd;
}
.navbar-custom  .dropdown-menu li>a:hover {
  color: #eee;
}
.navbar-custom  .navbar-nav li>a:hover, .navbar-nav li .open, .navbar-custom .navbar-nav .active a  {
  background-color: #000;
}
.navbar-custom .navbar-nav>.dropdown>a .caret {
  border-top-color: #999;
  border-bottom-color: #999;
}

.navbar-collapse.in { /*3.0.2 bug workaround*/
  overflow-y: visible;
}

.navbar-toggle {
  outline:0;
}
.descriprion{
  background: rgba(255, 255, 250, 0.6);
  text-align: center;
  margin: 0 30px ;
  padding-top: 20px;
  padding-bottom: 50px;
  border-radius: 20px;
  border: 3px solid black;
}
h3{
 font-family: 'Courier New', Courier, monospace;
 font-size: 40px;
 text-align: center;
}
.name{
  padding: 20px;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  letter-spacing: 3px;
  font-size: 55px;
  font-weight: 500;
  color: #29276D;
}
.abilities{
  background: rgba(130, 120, 146, 0.7);
  font-size: 26px;
  font-family: Georgia, Serif;
  font-style: italic;
  margin-top: 30px;
  line-height: 40px;
  font-weight: 500;
}
.quote{
  margin-top: 10px;
  padding-top: 5px;
  font-family: 'Times New Roman', Times, serif;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 19px;
  line-height: 21px;
  color: #DB2626;
}
figure{
  position: relative;
  // top: 180px;
  // visibility: visible;
  figcaption{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 1.7em;
    text-align: left;
    font-weight: 900;
  }
  // float: bottom;
}
#physics, #web {
  a{
    &:hover{
      background-color: transparent;
    }
  }
}
figure.com {
  padding-left: 80px;
  top: 210px;
  img{
    height: 155px;
    width: 135px;
    -webkit-transition: all 75ms ease-in;
    -moz-transition: all 75ms ease-in;
    -ms-transition: all 75ms ease-in;
    transition: all 75ms ease-in;
  }
  img:hover{
    height:158px;
    width: 138px;
  }
  figcaption{
    color:#1D57E8;
    margin-left: -40px;
    margin-top:5px;
  }
}
figure.contact{
  padding-left: 50px;
  padding-top: 40px;
  top: 195px;
  img{
    height: 130px;
    width: 130px;
    -webkit-transition: all 75ms ease-in;
    -moz-transition: all 75ms ease-in;
    -ms-transition: all 75ms ease-in;
    transition: all 75ms ease-in;

  }
  img:hover{
    height: 133px;
    width:133px;
  }
  figcaption{
    text-align: left;
    color: #1BAA24;
    margin-left: 25px;
  }
}
