#web_det{
  background: rgba(122,180,140, 0.4);
  padding: 25px 50px;
  .web_title{
    font-size: 20px;
    font-family: "Arial Black", Gadget, sans-serif;
    font-weight: 600;
    text-align: center;
    padding: 5px 0 20px 0;
    color: #27462D;
  }
}
.intro{
  // background: rgba(190,140,150, 0.4);
  background: rgba(180,180,180, 0.8);
  font-size: 15px;
  // line-height: 15px;
  padding: 20px;
  font-weight: 200;
  font-family: Verdana, Geneva, sans-serif;
  // font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-align: justify;
  color: #1B1934;
  border: solid 2px #BDBE9E;
  a{
    color: #4E47C1;
  }
}
#div_skills{
  border: solid 2px #BDBE9E;
  margin-top: 20px;
  padding: 10px 5px;
  background: rgba(180,180,180, 0.8);
  td{
    font-size: 16px;
    padding: 5px;
    &:last-child{
      padding-left: 15px;
      color: #181828;
      font-family: 'Courier New', Courier, monospace;
      font-weight: 600;
      font-size: 17px;
    }
  }
}
#div_projects{
  border:solid 2px #BDBE9E;
  margin-top: 20px;
  background: rgba(180,180,180, 0.8);
  padding: 25px;
  .quickthoughts   { color: #c00;
    background-color: #D4F0D1;
    // font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif ;
    font-size: 18px;
    padding: 5px;
    border: solid;
    border-color: #7E3C3C;
    border-width: 2px;
  }
  .settleitnow   { color: #fff;
    background-color: #000;
    // font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif ;
    font-size: 18px;
    padding: 5px;
    border: solid;
    border-color: #7E3C3C;
    border-width: 2px;

  }
  .recode{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif ;
    // font-size: 25px !important;
    padding: 5px;
    li{
      padding-top: 5px;
    }
  }
  .pro_det{
    font-size:15px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif ;
    b{
      font-weight: 600;
    }
  }
  a:hover   { color: #00c ;
    background-color: transparent;
    text-decoration: none;
  }
  a:active  { color: #ccc }
  #projects{
    font-size: 30px;
    font-weight: 600;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  }
}
.project_list{
  margin-top: 25px;
  background: rgba(180,180,170, 0.9);
  padding: 10px;
  padding-bottom: 0;
  // border: solid 1px white;
  div{
    padding: 15px;
    // font-size: 16px;
    color: #111431;
  }
}

// #div_features{
//   margin-top: 10px;
//   padding: 20px;
//   background: rgba(160,170,180, 0.7);
// }
// #imp_features{
//   font-size: 25px;
//   color: #332E6B;
//   font-weight: 500;
//   font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif ;
// }
// #feat_lists{
//   margin-top: 20px;
//   li{
//     font-size: 16px;
//     line-height: 140%;
//     margin-bottom: 5px;
//     color: #53202B;
//   }
// }
.web_buttons{
  padding: 3px 5px 10px 5px ;
  height: 40px;
  margin: 5px 0  -10px 0;
  // background: rgba(122,140,200,0.5);
  a{

    color: #762557;
    font-weight: 700;
  }
  span:first-child{
    float: left;
  }
  span:last-child{
    float: right;
  }
}
.warpello{
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 35px;
  color: #214889;
  margin-left: 5px;
}
.trello{
  margin-top: -15px;
}
.recode li {
    display: block;
}

.recode li:before {
    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "\e080";
    font-family: 'Glyphicons Halflings';
    font-size: 9px;
    float: left;
    // margin-top: 4px;
    margin-left: -17px;
    color: #3A7033;
}
